<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__first">
                <div class="footer__logo">
                    <img src="./img/logo-gala.png" width="200" height="34" alt="">
                </div>
                <div class="footer__year">2021 Гала-Центр Торговая платформа</div>
                <div class="footer__info">
                    <p>По всем вопросам<br>
                        <a href="mailto:info@galacentre.ru">info@galacentre.ru</a>
                    </p>
                    <span>
                        Последнее обновление
                        13.09.2020 12:07:11
                        (время московское)
                    </span>
                </div>
            </div>
            <div class="footer__menu">
                <ul class="footer__nav">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Интеграция</a></li>
                    <li><a href="#">Скачать</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Партнерам</a></li>
                </ul>
                <ul class="footer__nav">
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Новинки</a></li>
                    <li><a href="#">Хиты</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Бренды</a></li>
                    <li><a href="#">Полезно знать</a></li>
                </ul>
                <ul class="footer__nav">
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Спецпредложения</a></li>
                    <li><a href="#">Антикризисы</a></li>
                    <li><a href="#">Фикс</a></li>
                    <li><a href="#">Прайс листы</a></li>
                </ul>
            </div>
            <div>
                <div class="footer__phone"><a href="tel:8-800-500-18-42">8-800-500-18-42</a> <span>Заказать звонок</span></div>
                <div class="footer__social">
                    <div class="footer__social-title">Мы в соцсетях</div>
                    <a href="#" class="footer__social-item facebook"></a>
                    <a href="#" class="footer__social-item vkontakte"></a>
                    <a href="#" class="footer__social-item instagram"></a>
                    <a href="#" class="footer__social-item youtube"></a>
                </div>
                <div class="footer__app">
                    <div class="footer__app-title">Оформляйте заказы в приложении</div>
                    <a href="#"><img src="./img/DownloadGalaCatalog.svg" width="119" height="32" alt=""></a>
                    <a href="#"><img src="./img/DownloadAppStore.svg" width="96" height="32" alt=""></a>
                    <a href="#"><img src="./img/DownloadGooglePlay.svg" width="96" height="32" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer__copy">
            <p>Информация, предоставленная на сайте, в том числе информация о цене товара, не является публичной
                офертой, определяемой положениями статьи 437 Гражданского Кодекса Российский Федерации. Для получения
                более подробной информации следует обращаться к менеджерам компании по указанным на сайте телефонам.</p>
            <div>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>