<div class="overdraw"></div>
<header class="header">
    <div class="nav-scroller">
        <div class="container">
            <div class="nav-scroller__body">
                <div class="nav-scroller__menu">
                    <a href="#">О компании</a>
                    <a href="#">Доставка</a>
                    <a href="#">Прайс-листы</a>
                    <a href="#">Контакты</a>
                </div>
                <div class="header-delivery">
                    <i class="icon icon-delivery"></i>Город отгрузки <span>Екатеринбург</span>
                    <div class="header-delivery__modal">
                        <div class="header-delivery__close"></div>
                        <p>Выберите город, в котором осуществаляется отгрузка. Это важно, чтобы увидеть наличие цены и
                            сроки
                            доставки.</p>
                        <a href="#" class="btn btn-primary">Все верно</a>
                        <a href="#" class="btn btn-link" data-remodal-target="delivery">Выбрать
                            город</a>
                    </div>
                </div>
                <div class="nav-scroller__app">
                    <a href="#"><img src="./img/DownloadGalaCatalog.svg" width="119" height="32" alt=""></a>
                    <a href="#"><img src="./img/DownloadAppStore.svg" width="96" height="32" alt=""></a>
                    <a href="#"><img src="./img/DownloadGooglePlay.svg" width="96" height="32" alt=""></a>
                </div>
                <a href="#" class="header__logo">
                    <img src="./img/logo-gala.png" width="295" height="51" alt="">
                </a>
                <div class="header__auth">
                    <a href="#" data-remodal-target="search-mob"><i class="icon icon-search-blue"></i></a>
                    <a href="#" data-remodal-target="auth"><i class="icon icon-login"></i></a>
                    <a href="#"><i class="icon icon-basket-btn"></i></a>
                </div>
                <div class="nav">
                    <button class="nav__burger js-nav-burger"></button>
                    <!-- TODO: Тут мобильное меню пользователя -->
                    <div class="menu-user">
                        <ul class="menu-user__list">
                            <li><a href="">О компании</a></li>
                            <li><a href="">Доставка</a></li>
                            <li><a href="">Прайс листы</a></li>
                            <li><a href="">Избранные товары</a></li>
                            <li><a href="">Статьи</a></li>
                            <li><a href="">Сервисные центры</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Поставщикам</a></li>
                            <li><a href="">Партнерам</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                        <div class="btn-group">
                            <a href="" class="btn btn-primary">Войти</a>
                            <a href="" class="btn btn-outline-primary">Регистрация</a>
                        </div>
                        <div class="menu-user__phone">
                            <a href="tel:8-800-500-18-42">8-800-500-18-42</a> <a href="">Заказать звонок</a>
                        </div>
                        <div class="menu-user__social">
                            <a href="#" class="menu-user__social-item facebook white"></a>
                            <a href="#" class="menu-user__social-item vkontakte"></a>
                            <a href="#" class="menu-user__social-item instagram"></a>
                            <a href="#" class="menu-user__social-item youtube"></a>
                        </div>
                        <div class="menu-user__app">
                            <div class="menu-user__app-title">Оформляйте заказы в приложении</div>
                            <a href="#"><img src="./img/DownloadGalaCatalog.svg" width="119" height="32" alt=""></a>
                            <a href="#"><img src="./img/DownloadAppStore.svg" width="96" height="32" alt=""></a>
                            <a href="#"><img src="./img/DownloadGooglePlay.svg" width="96" height="32" alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img src="./img/logo-gala.png" width="295" height="51" alt="">
            </a>
            <div class="header__search">
                <form action="">
                    <input type="text" class="form-control" placeholder="Поиск">
                    <input type="submit" class="header__search-btn" value="">
                    <div class="header__search-close"></div>
                    <div class="form-dropdawn">
                        <header class="form-dropdawn__header">
                            <div class="form-dropdawn__list">
                                <div><b>Утюг</b> оцинкованный</div>
                            </div>
                            <div class="form-dropdawn__list">
                                <div><b>Утюг</b> с отпаривателем</div>
                            </div>
                        </header>
                        <main class="form-dropdawn__main">
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search1.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search2.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search3.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search4.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <footer class="form-dropdawn__footer">
                            <a href="#" class="btn btn-primary w100">Все результаты</a>
                        </footer>
                    </div>
                </form>
            </div>
            <div class="header-delivery">
                <i class="icon icon-delivery"></i>Город отгрузки <span>Екатеринбург</span>
                <div class="header-delivery__modal">
                    <div class="header-delivery__close"></div>
                    <p>Выберите город, в котором осуществаляется отгрузка. Это важно, чтобы увидеть наличие цены и сроки
                        доставки.</p>
                    <a href="#" class="btn btn-primary">Все верно</a> <a href="#" class="btn btn-link"
                        data-remodal-target="delivery">Выбрать
                        город</a>
                </div>
            </div>
            <div class="header__phone">
                <a href="tel:88005001842">8 (800) 500-18-42</a>
                <span>Обратный звонок</span>
            </div>

            <div class="header__auth">
                <a href="#" data-remodal-target="auth"><i class="icon icon-login"></i>Вход</a>
                <a href="#">Регистрация</a>
            </div>
        </div>
        <div class="header__bottom">
            <button class="btn btn-primary d-mobile-none js-catalog-menu"><i class="icon icon-burger-light"></i>Каталог
                товаров</button>
            <button class="btn btn-primary d-desktop-none" data-remodal-target="menu-mob"><i
                    class="icon icon-burger-light"></i>Каталог товаров</button>
            <div class="header__search">
                <form action="">
                    <input type="text" class="form-control" placeholder="Поиск">
                    <input type="submit" class="header__search-btn" value="">
                    <div class="header__search-close"></div>
                    <div class="form-dropdawn">
                        <header class="form-dropdawn__header">
                            <div class="form-dropdawn__list">
                                <div><b>Утюг</b> оцинкованный</div>
                            </div>
                            <div class="form-dropdawn__list">
                                <div><b>Утюг</b> с отпаривателем</div>
                            </div>
                        </header>
                        <main class="form-dropdawn__main">
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search1.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search2.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search3.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-dropdawn__item">
                                <div class="form-dropdawn__img">
                                    <img src="./img/products/image-search4.png" width="60" height="60" alt="">
                                </div>
                                <div class="form-dropdawn__txt">
                                    <div class="form-dropdawn__name"><b>Утюг</b> Philips EasySpeed GC1741/70, зеленый,
                                        белый
                                    </div>
                                    <div class="form-dropdawn__row">
                                        <div class="form-dropdawn__price">1 469 ₽</div>
                                        <div class="form-dropdawn__rating"><i class="icon icon-star"></i>4,4 (4 оценки)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <footer class="form-dropdawn__footer">
                            <a href="#" class="btn btn-primary w100">Все результаты</a>
                        </footer>
                    </div>
                </form>
            </div>
            <div class="header__auth">
                <a href="#" data-remodal-target="auth"><i class="icon icon-login"></i></a>
                <a href="#"><i class="icon icon-basket-btn"></i></a>
            </div>
            <div class="nav">
                <button class="nav__burger js-menu-dropdown 2"></button>
                <ul class="dropdown-content">
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Интеграция</a></li>
                    <li><a href="#">Скачать</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#"><i class="icon icon-empire"></i>Империя МПР</a></li>
                </ul>
            </div>
            <div class="header-delivery">
                <i class="icon icon-delivery"></i>Город отгрузки <span>Екатеринбург</span>
                <div class="header-delivery__modal">
                    <div class="header-delivery__close"></div>
                    <p>Выберите город, в котором осуществаляется отгрузка. Это важно, чтобы увидеть наличие цены и сроки
                        доставки.</p>
                    <a href="#" class="btn btn-primary">Все верно</a> <a href="#" class="btn btn-link"
                        data-remodal-target="delivery">Выбрать
                        город</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="tabs tabs--menu">
                <ul class="tabs__caption">
                    <li class="active"><a href="#"><i class="icon icon-avto"></i> Авто</a></li>
                    <li><a href="#"><i class="icon icon-aromatizatory"></i> Ароматизаторы</a></li>
                    <li><a href="#"><i class="icon icon-bytovaya-tekhnika"></i> Бытовая техника</a></li>
                    <li><a href="#"><i class="icon icon-bytovaya-khimiya"></i> Бытовая химия</a></li>
                    <li><a href="#"><i class="icon icon-galantereya"></i> Галантерея</a></li>
                    <li><a href="#"><i class="icon icon-dacha-i-sad"></i> Дача и сад</a></li>
                    <li><a href="#"><i class="icon icon-domashniy-tekstil"></i> Домашний текстиль</a></li>
                    <li><a href="#"><i class="icon icon-instrumenty"></i> Инструменты</a></li>
                    <li><a href="#"><i class="icon icon-kantselyarskie-tovary"></i> Канцтовары</a></li>
                    <li><a href="#"><i class="icon icon-elektrotekhnika"></i> Электроника</a></li>
                    <li><a href="#"><i class="icon icon-podarki"></i> Подарки</a></li>
                    <li><a href="#"><i class="icon icon-posuda"></i> Посуда</a></li>
                    <li><a href="#"><i class="icon icon-santehnika"></i> Сантехника</a></li>
                    <li><a href="#"><i class="icon icon-tovary-dlya-detey"></i> Товары для детей</a></li>
                    <li><a href="#"><i class="icon icon-turizm"></i> Туризм и рыбалка</a></li>
                    <li><a href="#"><i class="icon icon-sport"></i> Спорт и отдых</a></li>
                    <li><a href="#"><i class="icon icon-khoztovary"></i> Хозтовары</a></li>
                </ul>

                <div class="tabs__content active">
                    <header class="menu__header">
                        <a class="menu__link menu__link--stocked" href="#">
                            <div class="stick__item new">NEW</div> <span> Акции</span>
                        </a>
                        <a class="menu__link menu__link--action" href="#">
                            <div class="stick__item hit">ХИТ</div><span>Хиты</span>
                        </a>
                        <a class="menu__link menu__link--action" href="#">
                            <div class="stick__item sale"> <i class="icon icon-percent"></i> </div>
                            <span>Распродажа</span>
                        </a>
                        <button class="menu__close js-menu-close"></button>
                    </header>
                    <main>
                        <ul class="menu__list">
                            <li class="menu-big__item"><a href="">Источники света</a>
                                <ul>
                                    <li><a href="#">Лампы накаливая</a></li>
                                    <li><a href="#">Лампы энергосберегающие
                                            и светодиодные</a></li>
                                    <li><a href="#">Лента светодиодная</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Электротехника</a>
                                <ul>
                                    <li><a href="" class="active">Батарейки и аккумуляторы</a></li>
                                    <li><a href="" class="active">Розетки, выключатели, патроны</a></li>
                                    <li><a href="" class="active">Удлинители и сетевые
                                            фильтры,</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Мобильные и компьютерные
                                    аксессуары</a>
                                <ul>
                                    <li class="active"><a href="">Аксессуары для телефона</a></li>
                                    <li><a href="">Зарядные устройства</a></li>
                                    <li><a href="">Кабели</a></li>
                                    <li><a href="">Компьютерные аксессуары</a></li>
                                    <li><a href="">Мобильные аккумуляторы</a></li>
                                    <li><a href="">Наушники</a></li>
                                    <li><a href="">Портативная акустика</a></li>
                                    <li><a href="">Электронные устройства</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Освещение</a>
                                <ul>
                                    <li><a href="">Настольные лампы</a></li>
                                    <li><a href="">Ночники</a></li>
                                </ul>
                            </li>
                        </ul>
                    </main>
                </div>
                <div class="tabs__content">
                    <header class="menu__header">
                        <a class="menu__link menu__link--stocked" href="#">
                            <div class="stick__item new">NEW</div> <span> Акции</span>
                        </a>
                        <a class="menu__link menu__link--action" href="#">
                            <div class="stick__item hit">ХИТ</div><span>Хиты</span>
                        </a>
                        <a class="menu__link menu__link--action" href="#">
                            <div class="stick__item sale"> <i class="icon icon-percent"></i> </div>
                            <span>Распродажа</span>
                        </a>
                        <button class="menu__close js-menu-close"></button>
                    </header>
                    <main>
                        <ul class="menu__list">
                            <li class="menu-big__item"><a href="">Источники света</a>
                                <ul>
                                    <li><a href="#">Лампы накаливая</a></li>
                                    <li><a href="#">Лампы энергосберегающие
                                            и светодиодные</a></li>
                                    <li><a href="#">Лента светодиодная</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Электротехника</a>
                                <ul>
                                    <li><a href="" class="active">Батарейки и аккумуляторы</a></li>
                                    <li><a href="" class="active">Розетки, выключатели, патроны</a></li>
                                    <li><a href="" class="active">Удлинители и сетевые
                                            фильтры,</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Мобильные и компьютерные
                                    аксессуары</a>
                                <ul>
                                    <li class="active"><a href="">Аксессуары для телефона</a></li>
                                    <li><a href="">Зарядные устройства</a></li>
                                    <li><a href="">Кабели</a></li>
                                    <li><a href="">Компьютерные аксессуары</a></li>
                                    <li><a href="">Мобильные аккумуляторы</a></li>
                                    <li><a href="">Наушники</a></li>
                                    <li><a href="">Портативная акустика</a></li>
                                    <li><a href="">Электронные устройства</a></li>
                                </ul>
                            </li>
                            <li class="menu-big__item"><a href="">Освещение</a>
                                <ul>
                                    <li><a href="">Настольные лампы</a></li>
                                    <li><a href="">Ночники</a></li>
                                </ul>
                            </li>
                        </ul>
                    </main>
                </div>
                <div class="tabs__content">
                    3
                </div>
                <div class="tabs__content">
                    4
                </div>
                <div class="tabs__content">
                    5
                </div>
                <div class="tabs__content">
                    6
                </div>
                <div class="tabs__content">
                    7
                </div>
                <div class="tabs__content">
                    8
                </div>
                <div class="tabs__content">
                    9
                </div>
                <div class="tabs__content">
                    10
                </div>
                <div class="tabs__content">
                    11
                </div>
            </div>
        </div>
    </div>
</header>