@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro-Black.eot');
	src: local('GothamPro-Black'),
		url('../fonts/GothamPro/GothamPro_Black.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro_Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}



$font2: 'GothamPro', sans-serif;