@import "./mixin";
@import "./fonts";

body{
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	background-attachment: fixed;
	transition: background-position .3s ease;
	&.parallax{
		background-position: bottom;
		transition: background-position .3s ease;
	}
}
.footer{
	margin-top: 0;
}
.btn{
	&--sping{
		border-radius: 50px;
		font-family: $font2;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #324C9A;
		border: 1px solid #324C9A;
		padding: 13px 1.4rem;
	}
}
.articles{
	border-bottom: none;
}
.slider-populary {
	@include r(767){
		.swiper-wrapper{
			grid-gap: 5px;
		}
	}
}
.products{
	background-color: #fff;
	padding: 10px 30px 30px;
	margin-bottom: 0;
	&__inbox {
		color: #999;
		margin-top: -15px;
		font-size: 13px;
		margin-bottom: 10px;
	}
	@include r(767){
		padding: 7px;
	}
}


@import "componets/banner-spring";
@import "componets/collections-spring";
@import "componets/subscription-spring";
@import "componets/footer-spring";