@import "./mixin";
@import "./fonts";

body{
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	background-attachment: fixed;
	transition: background-position 1s ease;
	&.parallax{
		background-position: bottom;
		transition: background-position 1s ease;
	}
}
.footer{
	margin-top: 0;
}
.btn{
	&--sping{
		border-radius: 50px;
		font-family: $font2;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #324C9A;
		border: 1px solid #324C9A;
		padding: 13px 1.4rem;
	}
}
.articles{
	border-bottom: none;
}
.slider-populary {
	@include r(767){
		.swiper-wrapper{
			grid-gap: 5px;
		}
	}
}
.products{
	background-color: #fff;
	padding: 10px 30px 30px;
	margin-bottom: 0;
	&__info{
		margin-bottom: 16px;
	}
	&__name{
		-webkit-line-clamp: 2;
		height: 38px;
		text-overflow: ellipsis;
		margin-bottom: 7px;
	}
	&__price{
		margin-bottom: 0;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}
	.add_to_cart_block{
		margin-left: auto;
		margin-right: 0;
	}
	.btn{
		background-color: #EFE9D8;
		padding: 10px 14px;
		img{
			vertical-align: baseline;
			margin-right: 8px;
		}
	}
	@include r(767){
		padding: 7px;
	}
}


@import "componets/banner-spring";
@import "componets/collections-spring";
@import "componets/subscription-spring";
@import "componets/footer-spring";